<!DOCTYPE html>
<html>
<head>
  <title>Logged In</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1>Login successful!</h1>

  <p>Welcome back, <%= username %>!</p>

  <p><a href="/">Go to homepage</a></p>
</body>
</html>
